body {
	width: 70%;
	height: 100%;
	margin: auto;
	background-color: #EAECF0;
}
header {
    margin: 1px 1px 1px 1px;
	padding: 10px 1px 1px 1px;
}
h1 {
    color:#003B46; 
    font-family:Lithos Pro;
    margin-left:15px;
	float: left;
	font-weight: bold;
	text-decoration: none;
	font-size:30px;
	text-shadow: #C6E0E6-1px -2px 0.5em;
}
nav {
    position: fixed;
    padding-left: 19%;
    padding-top: 10px;
    height: auto;
}
li {
    display: inline;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 700;
    font-family: verdana;
}
li a {
    text-decoration: none;
    color: #003B46;
}
li a:hover{
    color: #66A5AD;
}
nav {
    overflow: hidden;
    float: right;
}
.recent_post {
    height:10px;
    position: relative;
}
.topline {
    border-top: 3px solid #003B46;
    width: 100%;
}
.video_bg {
    width: auto;
    justify-content: center;
}